<h1>
  <%=h @list.name %>
</h1>

<ul class="jlist">
<% @items.each do |item| %>
  <li>
      <%= link_to '', '/item/' + item.id.to_s + '/check', :class => 'jl-check' + (item.checked ? ' checked' : '') %>
      <%=h item.title %>
      <%= link_to 'remove', item, :confirm => 'Are you sure?', :method => :delete, :class => 'jl-delete' %></li>
<% end %>
</ul>

<% form_for(@item, :url => '/list/' + @list.hash_id + '/items') do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :title, :size => 20, :class => 'text' %>
    <%= f.submit 'Add', :class => 'submit' %>
  </p>
<% end %>


<div class="ft"><%= link_to 'Home', '/lists' %></div>