<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Lists: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'http://yui.yahooapis.com/combo?3.1.1/build/cssreset/reset-min.css&3.1.1/build/cssfonts/fonts-min.css&3.1.1/build/cssgrids/grids-min.css'  %>
  <%= stylesheet_link_tag 'jiffy' %>

</head>
<body>


   <% if !flash[:notice].nil? %>
      <!-- <%= flash[:notice] %> -->
   <% end %>

<%= yield %>
<script src="http://yui.yahooapis.com/3.1.1/build/yui/yui-min.js"></script>
<%= javascript_include_tag :defaults %>
</body>
</html>
